@charset "UTF-8";
@import "/static/css/iconfont/iconfont.css";
.row {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.row .txt {
  margin: 10px 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #000;
  vertical-align: middle;
}
.row-l {
  float: left;
  width: 50%;
  text-align: left;
}
.row-r {
  float: right;
  width: 50%;
  text-align: right;
}
.lightColor {
  border-color: #71beff;
  background-color: #71beff;
}
.align-right {
  text-align: right;
}
.el-button .iconfont {
  margin-right: 5px;
}
.alert-info {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 65;
  display: none;
  width: 320px;
  height: 30px;
  margin-top: 0;
  margin-left: -160px;
  overflow: hidden;
}
.alert-info .info-txt {
  width: 100%;
  height: 60px;
  margin-top: -30px;
  padding-top: 30px;
  border-radius: 30px;
  text-align: center;
  background-color: #1b8cff;
}
.alert-info .info-txt img,
.alert-info .info-txt span {
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.alert-info .info-txt img {
  height: 30px;
}
.alert-info .info-txt span {
  height: 30px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.modalLevel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.iconfont {
  font-size: 14px;
  color: #71beff;
}
.iconfont:hover {
  color: #1b8cff;
}
.page {
  position: relative;
  height: 100%;
}
.page .page-main {
  height: 100%;
  padding: 60px 24px 38px 44px;
}
.page .con-header {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 24px 0 44px;
}
.page .con-header .btn-add {
  float: left;
  width: 40%;
  min-width: 100px;
}
.page .con-header .btn-add i {
  font-size: 14px;
  font-weight: bold;
}
.page .con-header .search-block {
  float: right;
  width: 60%;
  text-align: right;
}
.page .con-header .search-block .search-val {
  float: right;
  width: 194px;
  height: 30px;
}
.page .con-header .search-block .search-val .el-input {
  height: 100%;
}
.page .con-header .search-block .search-val .el-input__inner {
  height: 100%;
}
.page .con-header .search-block .search-type {
  float: right;
  width: 160px;
  height: 30px;
  margin-left: 15px;
}
.page .con-header .search-block .search-type .el-select {
  height: 100%;
}
.page .con-header .search-block .search-type .el-input {
  height: 100%;
}
.page .con-header .search-block .search-type .el-input__inner {
  height: 100%;
}
.page .con-main {
  height: 100%;
}
.steps {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 114px;
  padding-bottom: 85px;
  overflow: hidden;
}
.steps .steps-tit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.steps .steps-tit .steps-tit-l,
.steps .steps-tit .steps-tit-r {
  float: left;
  width: 50%;
  padding-top: 45px;
  padding-bottom: 65px;
}
.steps .steps-tit .linebar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #dbdbdb;
}
.steps .steps-tit .linebar.active {
  background-color: #71beff;
}
.steps .steps-tit .step {
  position: absolute;
}
.steps .steps-tit .step .step-num {
  width: 32px;
  height: 25px;
  padding-left: 8px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  background: url("../img/page-bj2.png") no-repeat center;
  background-size: 100%;
}
.steps .steps-tit .step .step-txt {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: #dbdbdb;
}
.steps .steps-tit .step.active .step-num {
  background: url("../img/page-bj.png") no-repeat center;
  background-size: 100%;
}
.steps .steps-tit .step.active .step-txt {
  color: #000;
}
.steps .steps-main {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.steps .steps-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;
  text-align: right;
}
.upload-example {
  width: 100%;
  height: 100%;
}
.upload-example .el-upload {
  width: 100%;
  height: 100%;
}
.upload-example .el-upload .el-upload-dragger {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: #fdfdfd;
}
.upload-example .el-upload .el-upload-dragger .el-icon-upload {
  margin-top: 10%;
  color: #71beff;
}
.el-form-item {
  margin: 10px 0;
}
.el-form-item .el-form-item__label {
  text-align: right;
  color: #000;
}
.line {
  text-align: center;
}
.el-cascader {
  width: 100%;
}
.el-select,
.el-date-editor.el-input {
  width: 100%;
}
.el-dialog .el-form {
  width: 60%;
  margin: 0 auto;
}
.el-radio-button__inner {
  border-color: #1b8cff;
  color: #1b8cff;
}
.el-radio-button:first-child .el-radio-button__inner {
  border-color: #1b8cff;
}
.el-input__icon {
  line-height: 30px;
}
.el-input__inner {
  border: 1px solid #1b8cff;
}
.el-input__prefix,
.el-input__suffix {
  color: #1b8cff;
}
.el-input__inner:focus {
  outline: none;
  border-color: #1a8cff;
}
.el-input.is-active .el-input__inner {
  outline: none;
  border-color: #1b8cff;
}
.el-button {
  padding: 6px;
  font-size: 16px;
}
.el-button i {
  color: #fff;
}
.el-table td,
.el-table th {
  padding: 0;
}
.el-table td .cell,
.el-table th .cell {
  line-height: 26px;
  padding: 0;
  font-size: 14px;
  text-align: center;
  color: #000;
}
.el-table td .cell .el-select,
.el-table th .cell .el-select {
  width: 120px;
}
.el-table td .cell .el-input .el-input__inner,
.el-table th .cell .el-input .el-input__inner {
  padding: 0;
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.el-table td .cell i,
.el-table th .cell i {
  padding: 0 5px;
  color: #71beff;
}
.el-table td .cell i:hover,
.el-table th .cell i:hover {
  color: #1b8cff;
}
.el-table td .cell i::before,
.el-table th .cell i::before {
  font-size: 14px;
}
.el-table .cell,
.el-table th div,
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell {
  padding: 0;
}
.el-pagination .btn-prev,
.el-pagination .btn-next {
  background: center center no-repeat;
  background-size: 16px;
  background-color: #fff;
  cursor: pointer;
  margin: 0;
  color: #2d2f33;
}
.el-pagination .btn-prev .el-icon,
.el-pagination .btn-next .el-icon {
  display: block;
  font-size: 12px;
}
.el-pagination button,
.el-pagination span:not([class*=suffix]) {
  font-size: 16px;
  min-width: 22px;
  height: 22px;
  line-height: 22px;
}
.el-pagination .btn-prev {
  min-width: 22px;
  height: 22px;
  padding: 0;
  font-size: 14px;
  border: 1px solid #1b8cff;
  border-radius: 3px;
  color: #1b8cff;
}
.el-pagination .btn-prev.disabled {
  border: 1px solid #e6e6e6;
  color: #e6e6e6;
}
.el-pagination .btn-next {
  padding: 0;
  border: 1px solid #1b8cff;
  border-radius: 3px;
  color: #1b8cff;
}
.el-pagination__jump {
  margin-right: 20px;
}
.el-pagination__editor {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #000;
}
.el-pagination__editor.el-input {
  width: 36px;
}
.el-pagination__editor.el-input .el-input__inner {
  height: 100%;
}
.el-pager li {
  font-size: 14px;
  min-width: 28px;
  height: 22px;
  padding: 0 10px 0 6px;
  margin: 0 5px;
  line-height: 22px;
  color: #1b8cff;
  background-color: transparent;
  text-align: center;
}
.el-pager li.active {
  color: #fff;
  background: url("../img/page-bj.png") no-repeat center;
  background-size: 100% 100%;
}
.el-pager li.btn-quicknext,
.el-pager li.btn-quickprev {
  color: #1b8cff;
  line-height: 22px;
}
.el-pager .more::before {
  line-height: 22px;
}
.el-form-item__label {
  text-align: left;
}
