@charset "UTF-8";
.intelCourse .con-header {
  padding: 20px 24px 0;
}
.intelCourse .con-main {
  padding: 10px 24px;
  overflow-y: auto;
  overflow-x: hidden;
}
.intelCourse .con-main .row-l .el-input {
  width: 50%;
}
.intelCourse .con-main .row-r {
  text-align: left;
}
.intelCourse .con-main .tip-list {
  width: 100%;
  text-align: right;
}
.intelCourse .con-main .tip-list li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
.intelCourse .con-main .tip-list li .color-block {
  display: inline-block;
  width: 15px;
  height: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.intelCourse .con-main .tip-list li .txt {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 30px;
}
.intelCourse .page-section {
  width: 100%;
  height: 100%;
  padding-top: 51px;
}
.intelCourse .table-main {
  position: relative;
  width: 100%;
  margin-top: 10px;
  overflow: auto;
  text-align: center;
}
.intelCourse .table-main .el-table th {
  border: none;
  background: #1b8cff;
}
.intelCourse .table-main .el-table th .cell {
  font-size: 18px;
  font-weight: bold;
  line-height: 42px;
  color: #fff;
}
.intelCourse .table-main .el-table__body-wrapper {
  padding: 6px 0;
  background-color: #fcfcfc;
}
.intelCourse .table-main .el-table::before {
  height: 0;
}
.intelCourse .table-main .el-table td {
  border: none;
}
.intelCourse .table-main .el-table td .cell {
  padding: 2px 4px;
  background-color: #fcfcfc;
}
.intelCourse .table-main .el-table td .cell .cell-main {
  width: 100%;
  font-size: 14px;
  line-height: 38px;
  color: #000;
  background-color: #fff;
}
.intelCourse .table-main .day-lists {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
}
.intelCourse .table-main .day-lists .day-list {
  float: left;
  width: 120px;
  padding-bottom: 4px;
  background-color: #fcfcfc;
}
.intelCourse .table-main .day-lists .day-list .firstli {
  background: #1b8cff;
  margin-bottom: 4px;
  padding: 0;
}
.intelCourse .table-main .day-lists .day-list .firstli .txt-main {
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  line-height: 42px;
  color: #fff;
  background: #1b8cff;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.intelCourse .table-main .day-lists .day-list .otherli {
  width: 100%;
  height: 42px;
  padding: 2px 4px;
  background-color: #fcfcfc;
  cursor: pointer;
}
.intelCourse .table-main .day-lists .day-list .otherli .txt-main {
  width: 100%;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  color: #000;
  background-color: #fff;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.intelCourse .table-main .day-lists .day-list .otherli .two-row {
  line-height: 19px;
  text-align: left;
  padding-left: 8px;
}
.intelCourse .table-main .day-lists .day-list .otherli .disable {
  color: #b3b3b3;
  background-color: #f0f0f0;
}
.intelCourse .table-main .day-lists .day-list .otherli .noArrange {
  color: #fff;
  background-color: #ff636a;
}
.intelCourse .table-main .day-lists .day-list .bgfcfcfc .txt-main {
  background-color: #fcfcfc;
}
.intelCourse .table-main .selectionSection {
  position: absolute;
  border: 1px solid #1b8cff;
}
.intelCourse .blockff9196 {
  border: 1px solid #ff9196;
  background: repeating-linear-gradient(135deg, #ff9196 0, #ff9196 4px, #fff 0, #fff 7px);
}
.intelCourse .block96ffc2 {
  border: 1px solid #96ffc2;
  background: repeating-linear-gradient(135deg, #96ffc2 0, #96ffc2 4px, #fff 0, #fff 7px);
}
.intelCourse .blockfffca2 {
  border: 1px solid #fffca2;
  background: repeating-linear-gradient(135deg, #fffca2 0, #fffca2 4px, #fff 0, #fff 7px);
}
.intelCourse .blocke5e5e5 {
  border: 1px solid #e5e5e5;
  background: repeating-linear-gradient(135deg, #e5e5e5 0, #e5e5e5 4px, #fff 0, #fff 7px);
}
.intelCourse .selected {
  border: 1px solid #1b8cff;
}
.intelCourse .block81e345 {
  background-color: #81e345;
}
.intelCourse .blockff3640 {
  background-color: #ff3640;
}
.intelCourse .border81e345 {
  border-left: 2px solid #81e345;
}
.intelCourse .borderff3640 {
  border-left: 2px solid #ff3640;
}
.intelCourse .coursetype-menu {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #fff;
  box-shadow: rgba(186, 186, 186, 0.64) 0 0 10px;
  -moz-box-shadow: rgba(186, 186, 186, 0.64) 0 0 10px;
  -webkit-box-shadow: rgba(186, 186, 186, 0.64) 0 0 10px;
  -o-box-shadow: rgba(186, 186, 186, 0.64) 0 0 10px;
}
.intelCourse .coursetype-menu .itemsLists .itemsList {
  padding: 4px 8px;
  text-align: left;
  cursor: pointer;
}
.intelCourse .coursetype-menu .itemsLists .itemsList .color-block {
  display: inline-block;
  width: 15px;
  height: 10px;
  margin-right: 5px;
  vertical-align: middle;
}
.intelCourse .coursetype-menu .itemsLists .itemsList i {
  display: inline-block;
  width: 15px;
  height: 10px;
  margin-right: 5px;
  vertical-align: middle;
}
.intelCourse .coursetype-menu .itemsLists .itemsList .txt {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 30px;
  color: #000;
}
.intelCourse .coursetype-menu .itemsLists .itemsList:hover {
  background-color: #f4f4f4;
}
.intelCourse .tit span {
  margin-right: 8px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.intelCourse .class-list {
  position: relative;
  right: -15px;
  margin-top: 25px;
}
.intelCourse .class-list li.class-item {
  position: relative;
  float: left;
  width: 183px;
  margin-right: 25px;
  margin-bottom: 25px;
  box-shadow: rgba(204, 204, 204, 0.73) 0 0 0;
  transition: all 1s;
  -moz-transition: all 1s;
  /* Firefox 4 */
  -webkit-transition: all 1s;
  /* Safari and Chrome */
  -o-transition: all 1s;
  /* Opera */
}
.intelCourse .class-list li.class-item .item-detail {
  padding-left: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fcfcfc;
}
.intelCourse .class-list li.class-item .item-detail .item-tit {
  width: 120px;
  height: 36px;
  padding-left: 5px;
  border-bottom: 1px dashed #b9b9b9;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #000;
}
.intelCourse .class-list li.class-item .item-detail .item-main {
  padding: 10px 5px;
}
.intelCourse .class-list li.class-item .item-detail .item-main .item-main-txt {
  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #4c4c4c;
}
.intelCourse .class-list li.class-item .item-btn {
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  font-weight: noraml;
  text-align: center;
  color: #fff;
  background-color: #1b8cff;
  cursor: pointer;
}
.intelCourse .class-list li.class-item .item-btn2 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #71beff;
}
.intelCourse .class-list li.class-item:hover {
  box-shadow: rgba(204, 204, 204, 0.73) 0 0 10px;
  -moz-box-shadow: rgba(204, 204, 204, 0.73) 0 0 10px;
  -webkit-box-shadow: rgba(204, 204, 204, 0.73) 0 0 10px;
  -o-box-shadow: rgba(204, 204, 204, 0.73) 0 0 10px;
}
.intelCourse .class-list li.class-item .people {
  position: absolute;
  top: -7px;
  right: 5px;
  width: 40px;
  height: 40px;
  padding-right: 6px;
  padding-top: 8px;
  line-height: 30px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  background: url("../../img/peoplenum.png") no-repeat center;
  background-size: 100%;
}
.intelCourse .page-teachers,
.intelCourse .page-rules {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 51px;
}
.intelCourse .page-rules .page-rules-main {
  height: 100%;
}
.intelCourse .page-rules .con-main .ruleList {
  margin: 10px 0;
  padding-left: 10px;
}
.intelCourse .page-rules .con-main .ruleList .row {
  text-align: left;
  line-height: 34px;
  font-size: 14px;
}
.intelCourse .page-rules .con-main .ruleList .row .el-checkbox__label {
  color: #000;
}
.intelCourse .courseList {
  width: 94%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}
.intelCourse .courseList .tit {
  width: 100%;
  height: 44px;
  padding-left: 20px;
  line-height: 44px;
  font-size: 18px;
  font-weight: bolder;
  text-align: left;
  color: #fff;
  background-color: #1b8cff;
}
.intelCourse .courseList .courseList-main {
  padding: 20px 20px 0;
  border: 1px solid #f5f5f5;
  border-top: none;
}
.intelCourse .courseList .courseList-main .course-list {
  width: 100%;
  overflow: hidden;
}
.intelCourse .courseList .courseList-main .course-list > li {
  display: inline-block;
  min-width: 75px;
  height: 26px;
  padding: 0 5px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  line-height: 26px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #71beff;
  vertical-align: middle;
  cursor: pointer;
}
.intelCourse .courseList .courseList-main .course-list .active {
  background-color: #1b8cff;
}
